.Header {
    background-color: white;
    padding: 1.2rem;
    margin-bottom: 0rem;
    height: 60px;
    /*border: 4px solid blue;*/
}
button {
    width: 3rem;
    height: 2rem;
}
.header-col {
    height: 30px ;
    text-align: center;
}

